*{
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}
h1 {
    text-align: center;
    margin-top: 10%;
  }
img {
    position: relative;
    bottom: 25px;
    width: 250px;
    
  }
  .nice {
    color: white;
    font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 260px;
    bottom: 35px;
    background-color: #FF0000;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px black;
  }
  .card {
    width: 300px;
    height: 415px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 1px 3px 5px gray;
    transition: box-shadow 0.3s ease-in-out;

  
  }
  
  .text {
    font-size: auto 40vh;
    position: relative;
    top: 40px;
    font-weight: bold;
  
  }
  .card:hover {
    box-shadow: 2px 5px 10px aqua   
  }
  .close {
    position: relative;
    top: 5px;
    right: 135px;
    font-weight: bold;
    color: gray;}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }